<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css" >
        <title>Login</title>
    </head>
    <body>
        {% if logged_in == true %}
        <div class="dropdown">
            <button class="dropbtn">My Account</button>
            <div class="dropdown-content">
                <a href="/requests_made">Requests Made</a>
                <a href="/requests_received">Requests Received</a>
            </div>
        </div>  
        {% endif %}
        <a href="/index"><button class="button">Homepage</button></a>
        {% if logged_in == false %}
        <a href="/login"><button class="button">Log in</button></a>
        <a href="/register"><button class="button">Register</button></a>
        {% endif %}
        <a href="/listings"><button class="button">Listings</button></a>
        {% if logged_in == true %}
        <a href="/logout"><button class="button">Logout</button></a>
        {% endif %}

        <h1>Login</h1>
        <p>Provide the following details to log into your account:</p>
        <form action="/login" method="POST">
            <p>
                <label for="username">
                    Username
                </label>
                <input type="text" name="username" id="username"> 
            </p>
            <p>
                <input type="submit" value="Login" id="login_btn">
            </p>
        </form>
    </body>