<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css" >
        <title>Login - Success</title>
    </head>
    <body>
        {% if logged_in == true %}
        <div class="dropdown">
            <button class="dropbtn">My Account</button>
            <div class="dropdown-content">
                <a href="/requests_made">Requests Made</a>
                <a href="/requests_received">Requests Received</a>
            </div>
        </div>  
        {% endif %}
        <a href="/index"><button class="button">Homepage</button></a>
        {% if logged_in == false %}
        <a href="/login"><button class="button">Log in</button></a>
        <a href="/register"><button class="button">Register</button></a>
        {% endif %}
        <a href="/listings"><button class="button">Listings</button></a>
        {% if logged_in == true %}
        <a href="/register_a_space"><button class="button">Register a Space</button></a>
        <a href="/my_requests"><button class="button">My Requests</button></a>
        <a href="/logout"><button class="button">Logout</button></a>
        {% endif %}

        <p class = "t-title">You have successfully logged in.</p>
        <p class = "t-username">Your username: {{user.username}}</p>
        <a href="/register_a_space">Register a space</a>
        <a href="/listings">See Listings</a>
    </body>
</html>