<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" >
    <title>FireBnB</title>
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn">My Account</button>
        <div class="dropdown-content">
            <a href="/requests_made">Requests Made</a>
            <a href="/requests_received">Requests Received</a>
        </div>
    </div>  

    <a href="/index"><button class="button">Homepage</button></a>
    <a href="/login"><button class="button">Log in</button></a>
    <a href="/register"><button class="button">Register</button></a>
    <a href="/listings"><button class="button">Listings</button></a>
    <a href="/logout"><button class="button">Logout</button></a>

    <h1>You've been logged out successfully.</h1>
</body>
</html>
