<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" >
    <title>FireBnB</title>


</head>
<body>
    <div class="dropdown">
        <button class="dropbtn">My Account</button>
        <div class="dropdown-content">
            <a href="/requests_made">Requests Made</a>
            <a href="/requests_received">Requests Received</a>
        </div>
    </div>  

    <a href="/index"><button class="button">Homepage</button></a>
    <a href="/login"><button class="button">Log in</button></a>
    <a href="/register"><button class="button">Register</button></a>
    <a href="/listings"><button class="button">Listings</button></a>
    <a href="/logout"><button class="button">Logout</button></a>

    <!-- Split content into two columns -->
    <div class="column-container">
        <!-- Column 1: Requests I've Made -->
        <div class="column">
            <h1>Requests I've Made</h1>
            {% for booking in outgoing %}
            <div class="ListingsBox">
                <p class="boxtext">Requested Listing: {{booking.listing_name}}</p>
                <p class="boxtext">Request Status: {{booking.status}}</p>
                <p class="boxtext">Start Date: {{booking.start_date}}</p>
                <p class="boxtext">End Date: {{booking.end_date}}</p>
                <p class="boxtext">Price per night: £{{booking.price}}</p>
            </div>
            {% endfor %}
        </div>

        <!-- Column 2: Requests I've Received -->
        <div class="column">
            <h1>Requests I've Received</h1>
            {% for booking in incoming %}
            <div class="ListingsBox">
                <p class="boxtext">Requested Listing: {{booking.listing_name}}</p>
                <p class="boxtext">Requested By: {{booking.requester_name}}</p>
                <p class="boxtext">Request Status: {{booking.status}}</p>
                <p class="boxtext">Start Date: {{booking.start_date}}</p>
                <p class="boxtext">End Date: {{booking.end_date}}</p>
                <p class="boxtext">Price per night: £{{booking.price}}</p>
                <form action="/accept_booking" method="POST">
                    <input type="submit" value="Accept">
                </form>
                <form action="/reject_booking" method="POST">
                    <input type="submit" value="Reject">
                </form>
            </div>
            {% endfor %}
            <h1>Requests I've Responded To</h1>
            {% for booking in incoming_responded %}
            <div class="ListingsBox">
                <p class="boxtext">Requested Listing: {{booking.listing_name}}</p>
                <p class="boxtext">Requested By: {{booking.requester_name}}</p>
                <p class="boxtext">Request Status: {{booking.status}}</p>
                <p class="boxtext">Start Date: {{booking.start_date}}</p>
                <p class="boxtext">End Date: {{booking.end_date}}</p>
                <p class="boxtext">Price per night: £{{booking.price}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
