<!DOCTYPE html>
<html>
    <head>
        <title>Register - Fail </title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <p>Registration form failure</p>
        {% if errors %}
                <div class ="t-errors">
                    Your submission contained errors: {{errors}}
                </div>
        {% endif %}
    </body>
</html>