<!DOCTYPE html>
<html>
    <head>
        <title>Register - Success </title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <p class = "t-title">You have successfully registered.</p>
        <p class = "t-username">Your username: {{user.username}}</p>
    </body>
</html>