<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>Provide the following details to set up your account:</h1>
        <form action="/register" method="POST">
            <p>
                <label for="username">
                    Username
                </label>
                <input type="text" name="username" id="username"> 
            </p>
            <p>
                <input type="submit" value="Register">
            </p>
        </form>
    </body>
</html>