<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register a space</title>
</head>
<body>
    <h1>Register a space</h1>

    <form action="/register_a_space" method="POST">

        <label for="name">Name of Space:</label>
        <input type="text" name="name" id="name">

        <label for="description">Description of Space:</label>
        <input type="text" name="description" id="description">

        <label for="location">Location of Space:</label>
        <input type="text" name="location" id="location">

        <label for="price">Price per night:</label>
        <input type="number" name="price" id="price">


        <input type="submit" value="Add Space">

    </form>
    
</body>
</html>