<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css" >
        <title>Register a space</title>
    </head>
    <body>
        <div class="dropdown">
            <button class="dropbtn">My Account</button>
            <div class="dropdown-content">
                <a href="/requests_made">Requests Made</a>
                <a href="/requests_received">Requests Received</a>
            </div>
        </div>  
    
        <a href="/index"><button class="button">Homepage</button></a>
        {% if logged_in == false %}
        <a href="/login"><button class="button">Log in</button></a>
        <a href="/register"><button class="button">Register</button></a>
        {% endif %}
        <a href="/listings"><button class="button">Listings</button></a>
        {% if logged_in == true %}
        <a href="/logout"><button class="button">Logout</button></a>
        {% endif %}

    <h1 id="register_title">Register a space</h1>

    <form action="/register_a_space" method="POST">

        <label for="name">Name of Space:</label>
        <input type="text" name="name" id="name" required><br><br>

        <label for="description">Description of Space:</label>
        <input type="text" name="description" id="description" required><br><br>

        <label for="location">Location of Space:</label>
        <input type="text" name="location" id="location" required><br><br>

        <label for="price">Price per night:</label>
        <input type="number" name="price" id="price" required><br><br>


        <input type="submit" value="Add Space">

    </form>
    
    </body>
</html>